<div class="container">

<h1>Jobs#new</h1>
<p>Find me in app/views/jobs/new.html.erb</p>
<%= simple_form_for @job do |form| %>
  <%= form.input :title, label: "Job title" %>
  <%= form.input :company, label: "Your company" %>
  <%= form.input :url, label: "Link to job" %>
  <br><%= form.button :submit %>
<% end %>












</div>
